GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=true
ALLOWED_ORIGINS="http://localhost:8080"
MODEL="gemini-2.5-flash"
PG_HOST=localhost
PG_PORT=5432
PG_DB=intelli_learning
PG_USER=postgres
PG_PASSWORD=root